api_url: ""
api_authorization: ""
wifi_ssid: ""
wifi_password: ""
domain: ""
static_ip: ""
gateway: ""
subnet: ""
dns: ""
sonoff_rf_bridge_encryption_key: ""
sonoff_rf_bridge_ota_pwd: ""
sonoff_rf_bridge_ap_pwd: ""