.shoppinglist {
	max-width: 600px;
	margin: 0 auto;
}

.shoppinglist ul {
	margin: 0;
	padding: var(--spacing) 0;
}

.shoppinglist li {
	display: flex;
	align-items: center;
	background: var(--box-background-color);
	border-radius: var(--border-radius);
	box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.1);
	padding: calc(var(--spacing) / 2) var(--spacing);
	width: 100%;
	margin-bottom: calc(2 * var(--spacing));
	box-sizing: border-box;
}

.shoppinglist li span {
	flex: 1;
}

.shoppinglist form {
	margin: var(--spacing) 0 0;
	max-width: 100%;
	padding: 0;
}

.shoppinglist form input {
	width: 100%;
	box-sizing: border-box;
	border-radius: var(--border-radius);
}

.shoppinglist .buttons {
	display: flex;
	justify-content: flex-end;
	margin-top: calc(2 * var(--spacing));
}

.shoppinglist .buttons button:first-child {
	margin-left: 0;
}

.shoppinglist .buttons button:last-child {
	margin-right: 0;
}

.shoppinglist .crossed {
	text-decoration: line-through;
	text-decoration-color: var(--font-color);
}

.shoppinglist .fade-enter {
	max-height: 0;
	opacity: 0;
}

.shoppinglist .fade-enter-active {
	max-height: 40px;
	opacity: 1;
	transition:
		max-height,
		opacity 200ms;
}

.shoppinglist .fade-exit {
	max-height: 40px;
	opacity: 1;
}

.shoppinglist .fade-exit-active {
	max-height: 0;
	opacity: 0;
	transition:
		max-height,
		opacity 200ms;
}
